body {
   margin: 0 auto;
   font-size: 11pt;
   font-family: 'Segoe UI', 'Open sans', Tahoma, Geneva, Verdana, sans-serif;
   padding: 0 10em 5em 5em;
}

div {padding-left: 1em;}
p {line-height: 1.5em;}
.t70 {width: 65%;}
.t90 {width: 95%;}
.borde {border:gray solid 1px;}

header {
   position: fixed; 
   top: 0; 
   margin: 0 auto; 
   background-color: #fff; 
   padding-top: 0.25em;
   padding-left: 2em; 
   padding-bottom: 0.5em;}
code {
   font-family: Consolas, 'Courier New', Courier, monospace;
   font-size: 110%;
   color: darkgreen;
}
i {color:darkred}
em {color:teal;}

.francesa {
   color: teal;
   margin-left: 2em;
   text-indent: -2em;
}
.dentro {
   margin-left: 2em;
}
b {font-weight: bolder; color: teal;}
#container{
   margin-top: 3em;
   padding-left: 2em; 
}

h1{
   margin-top:1em; 
   margin-bottom: 1em;
   padding: 0.25em;
   font-size: 125%;
   font-family: Montserrat; 
   background-color: #eee;
}

h2{font-size: 130%; font-weight: lighter; color: darkblue; }
ul {list-style-type: circle;}

table {
   width: 95%;
}
th {
   background-color: #eee;
}
table tr td {
   border: 1px solid #ccc;
   border-collapse: collapse;
   padding: 0.5em;
}